/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Press+Start+2P&display=swap");

html {
  overflow: hidden;
}

body {
  background-image: url("../images/pattern.png");
  font: 100% / 1.5;
  font-family: "Montserrat Alternates", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
/* centre the content in the parallax layers */
p {
  font-family: "Monsterrat Alternates", sans-serif;
  position: static;
  font-size: 30px;
  color: #baaff2;
}
/* centre the content in the parallax layers */
li {
  font-family: "Monsterrat Alternates", sans-serif;
  position: static;
  font-size: 30px;
  color: #baaff2;
}
h1 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 40px;
}
a {
  color: #ff44d4;
  background-color: transparent;
}
/* Parallax base styles
  --------------------------------------------- */

.parallax {
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  font-size: 200%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 2;
}

.parallax__layer--fore {
  -webkit-transform: translateZ(0);
  transform: translateZ(90px) scale(0.7);
  z-index: 1;
}

/* centre the content in the parallax layers */
.title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 70px;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
}
/* centre the content in the parallax layers */

/* Left column */
.leftcolumn {
  border-width: 10px;
  border-style: solid;
  border-color: #f7f3ff;
  background-color: #2a4454;
  float: left;
  position: sticky;
  width: 25%;
  height: 50%;
  padding: 40px;
  transform: translate(30%, 0%);
}

/* Right column */
.rightcolumn {
  border-width: 10px;
  border-style: solid;
  border-color: #f7f3ff;
  background-color: #2a4454;
  float: right;
  position: sticky;
  width: 30%;
  height: 50%;
  padding: 40px;
  transform: translate(-30%, 0%);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: flex;
  clear: both;
}

#group1 {
  z-index: 5; /* slide over group 2 */
}
#group1 .parallax__layer--base {
  background-color: #4bf2f2;
}

#group5 {
  z-index: 4; /* slide over group 2 and 4 */
}
#group5 .parallax__layer--fore {
  background-color: #f7f3ff;
}
#conclusion {
  font-family: "Monsterrat Alternates", sans-serif;
  font-size: 30px;
  color: #2a4454;
  position: fixed;
  top: 35%;
  left: 5%;
  width: 85%;
  height: 50%;
}
#conclusion2 {
  font-family: "Monsterrat Alternates", sans-serif;
  font-size: 30px;
  color: #2a4454;
  position: fixed;
  top: 65%;
  left: 5%;
  width: 85%;
  height: 50%;
}
#conclusion3 {
  font-family: "Monsterrat Alternates", sans-serif;
  font-size: 30px;
  color: #2a4454;
  position: fixed;
  top: 85%;
  left: 5%;
  width: 85%;
  height: 50%;
}
#footer {
  color: #ff44d4;
  background-color: #2a4454;
  padding: 65px;
  font-size: 30px;
  text-align: center;
  position: static;
  width: 92.5%;
  transform: translate(0%, -100%);
}
